<!DOCTYPE html>
<html>
	<head>
		<title>test</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link href="css/new_my.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
		<script src="js/my.js"></script>
	</head>
	<body>
	<!-- <img class="avatar" src="images/avatar.png" alt="" />-->
	<div id="back">
		<div id="main">
		<div id="content">
			<div id="header">
				<p class="jua h0 title">anch0vy's blog{% if session.admin %} -admin mode{% endif %}</p>
				<div class="menu jua h2">
					<a href="/">블로그</a> |
					<a href="radio">라디오 선곡표</a> |
					<a href="#">이번주의 선곡</a>
					{% if session.admin %}
					| <a href="mailcheck">메일체크</a>
					{% endif %}
				</div>
			</div>
			{% for art in ret %}
				<div class="article">
					<a class="jua h2 textmid" href="{{art.aid}}" id="title{{art.aid}}">{{art.title}}</a>
					{% if session.admin %}
						-<a href="delete/article/{{art.aid}}">삭제</a>
					{% endif %}
					<br>
					<span class="jua">{{art.article_date}}</span>
					<br>
					<pre style="display: inline-block;" id="content{{art.aid}}">{{art.content}}</pre>
					{% for pic in art.pics %}
						<div class="image">
							<img src="pic/{{pic.filename}}">
						</div>
						<p style="text-align:center">
							<span class="jua">{{pic.pic_date}}</span>
						</p>
					{% endfor %}
					{% if art.pics[0] %}
						<div id="map{{art.aid}}" style="width: 100%; height: 400px; margin-bottom:1em;"></div>
						<script>
							make_map([
							{% for pic in art.pics %}
								['{{pic.pic_date}}',{{pic.latitude}},{{pic.longitude}}],
							{% endfor %}
							],'map{{art.aid}}')
						</script>
					{% endif %}
				</div>
			{% endfor %}
			<div id="page_num" class="jua pagenumber">- 
			{% for num in page.all %}
				{% if num == page.now %}
					<a href=?page={{num}} style="color:rgb(101,114,122);">{{num}}</a>
				{% else %}
					<a href=?page={{num}}>{{num}}</a>
				{% endif %}
			{% endfor%}
			 -</div>
		</div>
		</div>
	</div>
	</body>
</html>
